  .calendar-style-capsule {
    width: 80%;
    margin: 100px auto 0 auto;
    text-align: center;
  
    .calendar-header {
      margin-bottom: 20px;
  
      .main-heading {
        font-size: 2.5rem;
        margin-bottom: 10px;
      }
  
      .sub-heading {
        font-size: 1.5rem;
        color: #6b6b6b;
      }
    }
  
    .custom-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 30px 0;
  
      .nav-button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: bold;
      }

      .nav-right{
        position: relative;
        right: 20px;
      }
      .nav-left{
        position: relative;
        left: 340px;
      }
  
      .month-year {
        font-size: 1.5rem;
        cursor: pointer;
        position:relative;
        right: 120px;
        font-weight: bold;
      }
    }
  
    .custom-calendar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .month-year-picker,
    .year-picker {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .month-option{
      width: 30%;
      margin: 5px!important;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #f0f0f0;
      }
    }
    .react-datepicker__day {
        line-height: 3.5rem!important;
        margin: 0.5rem 0!important;
    }

    .react-datepicker__day--outside-month {
      visibility: hidden;
    }
  
    .react-datepicker {
      border: none;
    }
  
    .react-datepicker__header {
      background-color: transparent;
      border-bottom: none;
    }
  
    .react-datepicker__day--selected,
    .react-datepicker__day--keyboard-selected {
      background-color: #6b6b6b !important;
      border-radius: 50% !important;
    }
  
    .react-datepicker__day--today {
      font-weight: bold;
    }
  
    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      width: 3.5rem;
      line-height: 2.5rem;
      margin: 0.166rem;
    }
  }
  
  @media (max-width: 500px) {
    .calendar-style-capsule {
        width: 80%;
        margin: 140px auto 0px auto;
        text-align: center;
        .custom-header {
            .nav-right{
              position: relative;
              right: 20px;
            }
            .nav-left{
              position: relative;
              left: 240px;
            }
        
            .month-year {
              font-size: 1.5rem;
              cursor: pointer;
              position:relative;
              right: 70px;
            }
          }
        .react-datepicker__day-name,
        .react-datepicker__day,
        .react-datepicker__time-name {
            width: 2.5rem;
            line-height: 2.5rem;
            margin: 0.166rem;
        }
    }
 }