.change-password{
 margin: 100px 0 0 0 ;
}

.password-heading {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.card {
    margin-top: 4px;
    font-family: sans-serif;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    border-radius: 10px;
    background-color: #4C4C4C;
    padding: 1.8rem 4rem 3rem 4rem;

    // position: relative;
}

.email-login label {
    color: white;
}

input[type="text"],
input[type="password"] {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

.cta-btn {
    background-color: black;
    color: white;
    padding: 12px 20px;
    margin-bottom: 500px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    width: 190px;
    display: block;
    margin: 20px auto 0;
    position: absolute;
    top: 74%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 1.3rem;
}

@media (min-width: 1200px) {
    .card {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .card {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .card {
        width: 70%;
    }
} 

@media (max-width: 600px) {
    .change-password{
        margin-top: 140px;
    }
    .card {
        width: 80%;
        padding: 1rem 2rem 2rem 2rem;
    }
    .cta-btn{
        position: absolute;
        top: 76%;
        right: 50%;
    }
}

@media screen and (max-width: 350px) {
    .card {
        padding: 1rem 1rem 2rem 1rem!important;
    }
    .cta-btn{
        position: absolute!important;
        top: 82%!important;
        right: 50%!important;
    }
}

@media (min-height: 1200px) {
    .cta-btn{
        position: absolute;
        top: 48%;
    }
}

// @media (max-height: 900px) {
//     .cta-btn{
//         position: absolute;
//         top: 64%;
//     }
// }

@media (max-height: 700px) {
    .cta-btn{
        position: absolute;
        top: 82%;
    }
}

@media (max-height: 500px) {
    .cta-btn{
        position: absolute;
        top: 96%;
    }
}

